    <script src="/js/main.js"></script>
    <!-- The Lucide library script must be included before you can use the 'lucide' object -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        // This function finds all elements with a `data-lucide` attribute and replaces them with an SVG icon.
        lucide.createIcons();
        
    </script>

    
</body>
</html>