<!-- Navigation Mockup -->
<div class="wireframe-card flex justify-around p-5  bottom-15 left-0 right-0 lg:static z-10 border-t-2 lg:border-t-0 mb-20">
   
    <a href="/pages/dashboard" class="nav-item <%= title === 'Your Dashboard' ? 'active' : '' %> hover:text-black transition-colors">
        <i data-lucide="layout-dashboard"></i><span>Dashboard</span>
    </a>
    <a href="/pages/roadmap" class="nav-item <%= title === 'Skill Roadmap' ? 'active' : '' %> hover:text-black transition-colors">
        <i data-lucide="map"></i><span>Roadmap</span>
    </a>

    <a href="/pages/recommendations" class="nav-item <%= title === 'Skill Roadmap' ? 'active' : '' %> hover:text-black transition-colors">
        <i data-lucide="map"></i><span>Recommendations</span>
    </a>
    <a href="/pages/resources" class="nav-item <%= title === 'Resources & Scholarships' ? 'active' : '' %> hover:text-black transition-colors">
         <i data-lucide="book-open-check"></i><span>Resources</span>
    </a>
</div>