<div class="relative min-h-screen bg-gray-100">

    <form method="GET" action="/" class="absolute top-4 right-0">
        <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300">
          Sign out
        </button>
    </form>

</div>